body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

.sandbox .button-theme {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.button-theme {
  position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
  color: white;
  font-size: 1rem;

	text-shadow:-1px -1px 0 #2C7982;
	background: #00B3B4;
	border:1px solid #379AA4;

	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	       border-radius:4px;

	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	   -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	        box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

  .button-theme small {
    display: block;
    color: #007a7b;
    text-shadow: none;
  }

  .button-theme:hover {
  	background: #0bbfc0;
  }

  .button-theme:active {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  	        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  	top: 4px;
  }

#wahoo {
  outline: none;
}

#wahoo:active + .mario-block {
  animation: wahooMario 0.8s ease-in-out 1;
}

@keyframes wahooMario {
    0% { left: 0; bottom: 0; transform: rotate(0);}
   30% { left: 200px; bottom: 200px; transform: rotate(-25deg);}
   80% { left: 400px; bottom: 0; transform: rotate(0);}
  100% { left: 0; bottom: 0; }
}

.mario-block {
  display: inline-block;
  position: relative;
  margin: 80px auto;
  width: 16em;
  height: 16em;
}

.mario {
  display: block;
  width: 1em;
  height: 1em;
  background-color: #e7eef1;
  box-shadow: 0em 0em #e7eef1,
              1em 0em #e7eef1,
              2em 0em #e7eef1,
              3em 0em #e7eef1,
              4em 0em #e7eef1,
              5em 0em #e7eef1,
              6em 0em #e7eef1,
              7em 0em #e7eef1,
              8em 0em #e7eef1,
              9em 0em #e7eef1,
              10em 0em #e7eef1,
              11em 0em #e7eef1,
              12em 0em #e7eef1,
              13em 0em #e7eef1,
              14em 0em #e7eef1,
              15em 0em #e7eef1,

              0em 1em #e7eef1,
              1em 1em #e7eef1,
              2em 1em #e7eef1,
              3em 1em #e7eef1,
              4em 1em #e7eef1,
              5em 1em red,
              6em 1em red,
              7em 1em red,
              8em 1em red,
              9em 1em red,
              10em 1em #e7eef1,
              11em 1em #e7eef1,
              12em 1em #ffc966,
              13em 1em #ffc966,
              14em 1em #ffc966,
              15em 1em #e7eef1,

              0em 2em #e7eef1,
              1em 2em #e7eef1,
              2em 2em #e7eef1,
              3em 2em #e7eef1,
              4em 2em red,
              5em 2em red,
              6em 2em red,
              7em 2em red,
              8em 2em red,
              9em 2em red,
              10em 2em red,
              11em 2em red,
              12em 2em red,
              13em 2em #ffc966,
              14em 2em #ffc966,
              15em 2em #e7eef1,

              0em 3em #e7eef1,
              1em 3em #e7eef1,
              2em 3em #e7eef1,
              3em 3em #e7eef1,
              4em 3em brown,
              5em 3em brown,
              6em 3em brown,
              7em 3em #ffc966,
              8em 3em #ffc966,
              9em 3em black,
              10em 3em #ffc966,
              11em 3em #e7eef1,
              12em 3em red,
              13em 3em red,
              14em 3em red,
              15em 3em #e7eef1,

              0em 4em #e7eef1,
              1em 4em #e7eef1,
              2em 4em #e7eef1,
              3em 4em brown,
              4em 4em #ffc966,
              5em 4em brown,
              6em 4em #ffc966,
              7em 4em #ffc966,
              8em 4em #ffc966,
              9em 4em black,
              10em 4em #ffc966,
              11em 4em #ffc966,
              12em 4em #ffc966,
              13em 4em red,
              14em 4em red,
              15em 4em #e7eef1,

              0em 5em #e7eef1,
              1em 5em #e7eef1,
              2em 5em #e7eef1,
              3em 5em brown,
              4em 5em #ffc966,
              5em 5em brown,
              6em 5em brown,
              7em 5em #ffc966,
              8em 5em #ffc966,
              9em 5em #ffc966,
              10em 5em black,
              11em 5em #ffc966,
              12em 5em #ffc966,
              13em 5em #ffc966,
              14em 5em red,
              15em 5em #e7eef1,

              0em 6em #e7eef1,
              1em 6em #e7eef1,
              2em 6em #e7eef1,
              3em 6em brown,
              4em 6em brown,
              5em 6em #ffc966,
              6em 6em #ffc966,
              7em 6em #ffc966,
              8em 6em #ffc966,
              9em 6em black,
              10em 6em black,
              11em 6em black,
              12em 6em black,
              13em 6em red,
              14em 6em red,
              15em 6em #e7eef1,

              0em 7em #e7eef1,
              1em 7em #e7eef1,
              2em 7em #e7eef1,
              3em 7em #e7eef1,
              4em 7em #e7eef1,
              5em 7em #ffc966,
              6em 7em #ffc966,
              7em 7em #ffc966,
              8em 7em #ffc966,
              9em 7em #ffc966,
              10em 7em #ffc966,
              11em 7em #ffc966,
              12em 7em red,
              13em 7em red,
              14em 7em #e7eef1,
              15em 7em #e7eef1,

              0em 8em #e7eef1,
              1em 8em #e7eef1,
              2em 8em red,
              3em 8em red,
              4em 8em red,
              5em 8em red,
              6em 8em blue,
              7em 8em red,
              8em 8em red,
              9em 8em red,
              10em 8em blue,
              11em 8em red,
              12em 8em red,
              13em 8em #e7eef1,
              14em 8em #e7eef1,
              15em 8em brown,

              0em 9em #ffc966,
              1em 9em #ffc966,
              2em 9em red,
              3em 9em red,
              4em 9em red,
              5em 9em red,
              6em 9em red,
              7em 9em blue,
              8em 9em red,
              9em 9em red,
              10em 9em red,
              11em 9em blue,
              12em 9em #e7eef1,
              13em 9em #e7eef1,
              14em 9em brown,
              15em 9em brown,

              0em 10em #ffc966,
              1em 10em #ffc966,
              2em 10em #ffc966,
              3em 10em red,
              4em 10em red,
              5em 10em red,
              6em 10em red,
              7em 10em blue,
              8em 10em blue,
              9em 10em blue,
              10em 10em blue,
              11em 10em yellow,
              12em 10em blue,
              13em 10em blue,
              14em 10em brown,
              15em 10em brown,

              0em 11em #e7eef1,
              1em 11em #ffc966,
              2em 11em #e7eef1,
              3em 11em #e7eef1,
              4em 11em blue,
              5em 11em red,
              6em 11em blue,
              7em 11em blue,
              8em 11em yellow,
              9em 11em blue,
              10em 11em blue,
              11em 11em blue,
              12em 11em blue,
              13em 11em blue,
              14em 11em brown,
              15em 11em brown,

              0em 12em #e7eef1,
              1em 12em #e7eef1,
              2em 12em brown,
              3em 12em brown,
              4em 12em brown,
              5em 12em blue,
              6em 12em blue,
              7em 12em blue,
              8em 12em blue,
              9em 12em blue,
              10em 12em blue,
              11em 12em blue,
              12em 12em blue,
              13em 12em blue,
              14em 12em brown,
              15em 12em brown,

              0em 13em #e7eef1,
              1em 13em brown,
              2em 13em brown,
              3em 13em brown,
              4em 13em blue,
              5em 13em blue,
              6em 13em blue,
              7em 13em blue,
              8em 13em blue,
              9em 13em blue,
              10em 13em #e7eef1,
              11em 13em #e7eef1,
              12em 13em #e7eef1,
              13em 13em #e7eef1,
              14em 13em #e7eef1,
              15em 13em #e7eef1,

              0em 14em #e7eef1,
              1em 14em brown,
              2em 14em brown,
              3em 14em #e7eef1,
              4em 14em #e7eef1,
              5em 14em #e7eef1,
              6em 14em #e7eef1,
              7em 14em #e7eef1,
              8em 14em #e7eef1,
              9em 14em #e7eef1,
              10em 14em #e7eef1,
              11em 14em #e7eef1,
              12em 14em #e7eef1,
              13em 14em #e7eef1,
              14em 14em #e7eef1,
              15em 14em #e7eef1,

              0em 15em #e7eef1,
              1em 15em #e7eef1,
              2em 15em #e7eef1,
              3em 15em #e7eef1,
              4em 15em #e7eef1,
              5em 15em #e7eef1,
              6em 15em #e7eef1,
              7em 15em #e7eef1,
              8em 15em #e7eef1,
              9em 15em #e7eef1,
              10em 15em #e7eef1,
              11em 15em #e7eef1,
              12em 15em #e7eef1,
              13em 15em #e7eef1,
              14em 15em #e7eef1,
              15em 15em #e7eef1;
}
