body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

.image {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.image::after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  padding: 10px 20px 10px 45px;
  border: dashed 1px #888;
  background-color: #f0f0f0;
  background-image: url(./noimage.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  z-index: 1;
  content: "" attr(alt) " Not Found" ;

}