body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

section {
  position: relative;
  padding: 25px 0;
}

h4 {
  margin: 1rem 0
}

.shadow-typo {
  font-family: 'Bubblegum Sans';
  position: relative;
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0,0,0,0.1);
}

.threedee-typo{
  font-family: 'Bubblegum Sans';
  font-size: 4em;
  text-transform: uppercase;
  color: #f3395a;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
         transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-shadow: 1px 1px #d10e31,
               2px 2px #d10e31,
               3px 3px #d10e31,
               4px 4px #d10e31,
               5px 5px #d10e31,
               6px 6px #d10e31,
               7px 7px #d10e31,
               8px 8px #890920,
               9px 9px #890920,
               10px 10px #890920,
               11px 11px 15px rgba(0,0,0,0.5);
}