body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

.register-wrapper{
  background-image: -webkit-linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  background-image:         linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  position: relative;
  z-index: 3;
  padding: 100px;
  color: #999;
  font-size:16px;
}

.register-wrapper * {
  box-sizing: border-box;

}

.register-wrapper form input {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background: white;
  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  outline: none;
}

.register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}

.register-wrapper form input[type="email"]:focus,
.register-wrapper form input[type="email"]:active,
.register-wrapper form input[type="password"]:focus,
.register-wrapper form input[type="password"]:active {
  border-color: #ccc;
}

.register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  background-color: #f2395a;
  background-size: 20px 20px;
  background-image: -webkit-linear-gradient(
                                             45deg,
                                           rgba(255, 255, 255, 0.15) 25%,
                                           rgba(0, 0, 0, 0) 25%,
                                           rgba(0, 0, 0, 0) 50%,
                                           rgba(255, 255, 255, 0.15) 50%,
                                           rgba(255, 255, 255, 0.15) 75%,
                                           rgba(0, 0, 0, 0) 75%,
                                           rgba(0, 0, 0, 0));
  background-image: linear-gradient(45deg,
                                           rgba(255, 255, 255, 0.15) 25%,
                                           rgba(0, 0, 0, 0) 25%,
                                           rgba(0, 0, 0, 0) 50%,
                                           rgba(255, 255, 255, 0.15) 50%,
                                           rgba(255, 255, 255, 0.15) 75%,
                                           rgba(0, 0, 0, 0) 75%,
                                           rgba(0, 0, 0, 0));
  border: solid 1px #f02146;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
}

  .register-wrapper form input[type="submit"]:hover {
    background-size: 40px 40px;
  }

.register-title {
  font-size: 1.6rem;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: dashed 1px #e6e6e6;
}

.register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.register-block:before,
.register-block:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: white;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
          transform: scale(0.9) translate(0, 0);
  transition: all 0.3s ease;
}

.register-block:after {
  transition-delay: 0.05s;
}

.register-block:hover:before {
  -webkit-transform: scale(0.96) translate(0, 16px);
          transform: scale(0.96) translate(0, 16px);
  z-index: -1;
}

.register-block:hover:after {
  -webkit-transform: scale(0.92) translate(0, 32px);
          transform: scale(0.92) translate(0, 32px);
  z-index: -2;
}

button,
input {
  font-family: sans-serif;
  font-size: 100%;
  overflow: visible;
}