body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;

  --primary-color: orangered;
  --secondary-color: hotpink;
  --base-measurement: 20px;
}

.sandbox .box {
  text-align: center;
  --text-color: #f3f3f3;

  color: var(--text-color);
  background: var(--primary-color);
  margin: var(--base-measurement);

  height: calc(var(--base-measurement) * 10);
  width: calc(var(--base-measurement) * 10);
  line-height: calc(var(--base-measurement) * 10);
}

.sandbox .box2 {
  background-color: var(--secondary-color);
}