body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

section footer {
  margin: inherit;
  width: inherit;
  color: inherit;
  font-size: inherit;
}

section header,
section article,
section nav,
section aside,
section footer,
section .logo,
section .articles {
  background: rgba(140, 204, 231, 0.2);
  border: solid 1px rgba(140, 204, 231, 0.3);
  padding: 2%;
  margin: 0 0 2%;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

  section ul li {
    display: inline-block;
    margin: 0 2% 0 0;
  }

code {
  background: #fd6000;
  color: white;
  padding: 4px 6px;
  font-family: 'Nova Mono', monospace;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px #5e2400;
  display: inline-block;
}

/* MODERN LAYOUT #1 */
.layout1 article {
  width: 58%;
  float: left;
}

.layout1 aside {
  width: 40%;
  float: right;
}

/* simple clearfix to prevent collapse */
.layout1 footer {
  clear: both;
}

/* MODERN LAYOUT 2 */
.layout2 header .logo {
  width: 20%;
  float: left;
  margin: 0;
}

.layout2 header nav {
  width: 78%;
  float: right;
  margin: 0;
}

/* simple clearfix to prevent collapse */
.layout2 header::after {
  display: table;
  content: "";
  clear: both;
}

.layout2 article {
  width: 50%;
  margin-left: 2%;
  float: left;
}

.layout2 aside.sidenav {
  width: 23%;
  float: left;
}

.layout2 aside.sidebar {
  width: 23%;
  float: right;
}

/* Simple clearfix to prevent collapse */
.layout2 footer {
  clear: both;
}

/* MODERN LAYOUT 3 */
.layout3 header .logo {
  width: 20%;
  float: right;
  margin: 0;
}

.layout3 header nav{
  width: 78%;
  float: left;
  margin: 0;
}

/* simple clearfix to prevent collapse */
.layout3 header::after {
  display: table;
  content: "";
  clear: both;
}

.layout3 article {
  width: 32%;
  float: left;
  margin: 0 2% 0 0;
}

.layout3 article:last-child {
  margin: 0;
}

/* simple clearfix to prevent collapse */
.layout3 .articles::after {
  display: table;
  content: "";
  clear: both;
}

/* Simple media queries for responsive layouts */

@media screen and ( max-width: 768px) {
  .layout1 article,
  .layout1 aside,
  .layout2 header .logo,
  .layout2 header nav,
  .layout2 article,
  .layout2 aside.sidenav,
  .layout2 aside.sidebar,
  .layout3 article,
  .layout3 aside,
  .layout3 header .logo,
  .layout3 header nav {
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }
}