body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef1;
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px;
}

.sandbox {
  position: relative;
  margin: 60px auto;
  padding: 40px 40px 60px;
  max-width: 960px;
  border: solid 3px #fa90a3;
  box-sizing: border-box;
  background: #e7eef1;
  box-shadow: 0 12px 0 -6px #fa90a3;
}

.sandbox img {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.sandbox img:hover {
  cursor: crosshair;
}

.grayscale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.grayscale:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.blur:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.invert:hover {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.sepia {
  -webkit-filter: sepia();
          filter: sepia();
  /* -webkit-filter: sepia(1);
          filter: sepia(1); */
}

.sepia:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}